/apis/poi/ @thedevopscat @darren-johnson @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/trips/ @thedevopscat @darren-johnson @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/user-java/ @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/userprofile/ @sarbjitbilling-stw
